clip @ git+https://github.com/openai/CLIP.git
huggingface-hub==0.26.2
ipykernel==6.20.2
ipython
nltk
numpy
pandas
pillow
scipy
scikit-learn
sentence-transformers==3.2.1
sentencepiece==0.2.0
torch
tfidf==0.0.6
transformers @ git+https://github.com/huggingface/transformers@3ea3ab62d80d91f9bdd16bd3cacd8133fb0d4566
translators==5.9.3
sentence-transformers
streamlit==1.40.1
supabase==2.10.0
python-dotenv==0.21.1
requests==2.32.3
huggingface_hub